{% extends "supplychain/layout.html" %}
{% load i18n %}
{% block title %}{% trans "DB Project" %}{% endblock %}
{% block content %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
          {% trans "Awesome Supply Chain Management" %}
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
      	<a class="mdl-navigation__link">
            {% trans "Hi" %}, {% if user.first_name %}{{ user.first_name }}
                              {% else %}{{ user.username }}
                              {% endif %}
        </a>
        <a href="/logout" class="mdl-navigation__link">
            {% trans "Log out" %}
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        {% trans "Services" %}
    </span>
    <nav class="mdl-navigation">
     <a href="/dashboard" class="mdl-navigation__link">
         {% trans "Dashboard" %}
     </a>
    {% for i in item_list %}
    <a href="{{ i.url }}" class="mdl-navigation__link">
            {{ i.short_desc }}
    {% endfor %}

	    <a href="/logout" class="mdl-navigation__link">
            {% trans "Log out" %}
        </a>
    </nav>
  </div>
  <main class="mdl-layout__content" >
    <div class="page-content" style="padding:8px">

  {% block pagecontent %}
  {% endblock %}
    </div>
	<div class="mdl-layout-spacer"></div>
{% endblock %}

