{% extends "supplychain/loggedin.html" %}
{% load i18n %}
{% block title %}{% trans "View or edit users" %}{% endblock %}
{% block pagecontent %}

<h6>{% trans "Users:" %}</h6>
<div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--1-col">{% trans "Name" %}</div>
        <div class="mdl-cell mdl-cell--2-col">{% trans "Groups" %}</div>
        <div class="mdl-cell mdl-cell--2-col">{% trans "Permissions" %}</div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
<div class="mdl-cell mdl-cell--12-col">
    {% for u in object_list %}
        <form action="/users" method="post">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--1-col"><a href="{{ u.get_absolute_url }}">{{ u.username }}</a></div>
                <div class="mdl-cell mdl-cell--2-col">
                {{ u.groups.all|join:", " }}
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                {{ u.user_permissions.all|join:", " }}
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <button class="mdl-button mdl-js-button mdl-button--accent button-small delete" type="button" name="delete" value="{{ u.pk }}">Delete
                    </button>
                </div>
        </div>
        </form>
    {% endfor %}
</div>
</div>
<br><br>
<a href='create'>Create</a>
<style type="text/css">
.mdl-button{
    line-height: 20px;
    height: 20px;
}
</style>

<script type="text/javascript">
window.addEventListener("load", function () {
    // We need to access the form element
    var collections = document.getElementsByClassName("delete");
    [].forEach.call(collections, function (button) {
        button.addEventListener("click", function (event) {
            sendData({'delete' : button.getAttribute('value')}, function () {
                document.location.reload(true);
            });
      });
    });
    var forms = document.getElementsByClassName("update-form");
    forms[0].getElementsByTagName('button')[0].addEventListener("click", function (event) {
            sendData($(forms[0]).serializeArray(), function () {
                document.location.reload(true);
            });
    });
    forms[1].getElementsByTagName('button')[0].addEventListener("click", function (event) {
            var f = $(forms[1]).serializeArray()
            f.push({name: 'add_role', value: ''});
            sendData(f, function () {
                document.location.reload(true);
            });
    });
    forms[1].getElementsByTagName('button')[1].addEventListener("click", function (event) {
            var f = $(forms[1]).serializeArray()
            f.push({name: 'del_role', value: ''});
            sendData(f, function () {
                document.location.reload(true);
            });
    });
});
</script>
{% endblock %}
