{% extends "supplychain/display_base.html" %}
{% load i18n %}
{% block title %}{% trans "View or edit users" %}{% endblock %}
{% block pgcontent %}

<h6>{% trans "Users:" %}</h6>
<div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--1-col">{% trans "Name" %}</div>
        <div class="mdl-cell mdl-cell--2-col">{% trans "Groups" %}</div>
        <div class="mdl-cell mdl-cell--2-col">{% trans "Permissions" %}</div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
<div class="mdl-cell mdl-cell--12-col">
    {% for u in object_list %}
        <form action="/users" method="post">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--1-col"><a href="{{ u.get_absolute_url }}">{{ u.username }}</a></div>
                <div class="mdl-cell mdl-cell--2-col">
                {{ u.groups.all|join:", " }}
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                {{ u.user_permissions.all|join:", " }}
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <button class="mdl-button mdl-js-button mdl-button--accent button-small delete" type="button" name="delete" value="{{ u.pk }}">Delete
                    </button>
                </div>
        </div>
        </form>
    {% endfor %}
</div>
</div>
<br><br>
<a href='create'>Create</a>
{% endblock %}
