{% extends "loggedin.html" %}
{% block title %} DB Project {% endblock %}
{% block pagecontent %}
    	<div class="mdl-grid">
	    	{% if users %}
	    	<div class="mdl-cell mdl-cell--4-col">
				<div class="demo-card-square mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title mdl-card--expand">
				    <h2 class="mdl-card__title-text">Users Management</h2>
				  </div>
				  <div class="mdl-card__supporting-text">
				    You can add, edit or delete users and their roles here.
				  </div>
				  <div class="mdl-card__actions mdl-card--border">
				    <a href="users" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				      View or Edit Users
				    </a>
				  </div>
				</div>
			</div>
			{% endif %}
		</div>
{% endblock %}

