{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %} 
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
      <h6>Hello!<br>This is our database project!</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
        <form action="/login" method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="name">Name:</label>
                <input class="mdl-textfield__input" type="text" id="name" name="user_name" />
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="pass">Password:</label>
                <input class="mdl-textfield__input" type="password" id="pass" name="user_pass" />
                <span class="mdl-textfield__error">Input is not valid</span>
            </div>
            <div class="mdl-layout-spacer"></div>
            <div class="button">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit" name="login">Login</button>
                {% if guest %}
        
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit" name="guest" onclick="document.getElementById('name').value='';
                                                            document.getElementById('pass').value='';">
                continue as a Guest
                </button>
              	{% endif %}
                {% if error %}
                <br>&nbsp;&nbsp;{{ error }}
                {% endif %}
            </div>
    </form>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
    </div>
</div>
<div class="page-content">

</div>
<div class="mdl-layout-spacer"></div>
{% endblock %}