{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{{ super() }}
Login:

<form action="/login" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="user_pass" />
    </div>
    <div class="button">
        <button type="submit" name="login">Login</button> or
      	{% if guest %}
        <button type="submit" name="guest" onclick="document.getElementById('name').value='';
                                                    document.getElementById('pass').value='';">
        continue as a Guest
        </button>
      	{% endif %}
        {% if error %}
        <br>&nbsp;&nbsp;{{ error }}
        {% endif %}
    </div>
</form>
{% endblock %}
