<!doctype html>
<head>
  {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <title>{% block title %}Hello{% endblock %}</title>
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content" id="layout-main">
  {% endblock %}
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <div class="mdl-grid">
          {% for message in messages %}
            <div class="message_flash mdl-cell mdl-cell--12-col">
              <h6>{{ message }}<h6>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    {% block footer %}
      <footer class="mdl-mega-footer" id="layout-footer">
        <div class="mdl-mega-footer__left-section">
          <div class="mdl-logo">
            By {{ g.teamname }}
          </div>
        </div>
        <div class="mdl-mega-footer__right-section">
          <div class="mdl-logo">
            <img src="{{ g.wpi_logo_url }}" height="30px">
          </div>
        </div>
      </footer>
    {% endblock %}
  </main>
  </div>

  <style>
  footer{
    margin-top: 2em;
  }
  /* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
  .mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
  }
  </style>
  {% if css_url %}
    <link href="{{ css_url }}" rel="stylesheet" type="text/css"/>
  {% endif %}
  <script type="text/javascript">
      window.setTimeout(function() {
        var l = document.getElementsByClassName("message_flash");
        if (l.length > 0) {
          l[0].style.display='none'
        }
      }, 5000);
      function showSnackbar(data) {
        var snackbarContainer = document.querySelector('#demo-toast-example');
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      }
      function sendData(data, suc, url) {
        $.ajax(url, {
                method: "POST",
                dataType: 'text',
                data: data,

            })
            .done(function (d) {
                if (d == 'successful') {
                    suc();
                }
                else{
                    showSnackbar({message: d})
                }
            })
            .fail(function () {
                showSnackbar({message: 'Cannot send data to server'})
            });
    }
  </script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>
