<!doctype html>
<head>
  {% block head %}
    {% if mdl %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.pink-indigo.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    {% endif %}
    <title>{% block title %}Hello{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content" id="layout-main">

    {% block content %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
           <div class="message_flash">{{ message }}</div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block footer %}
      <footer class="mdl-mini-footer" id="layout-footer">
        <div class="mdl-mini-footer__left-section">
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy and Terms</a></li>
            <li><a href="#">User Agreement</a></li>
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <div class="mdl-logo">
            By {{ g.teamname }}
          </div> 
          <ul class="mdl-mini-footer__link-list">
            <img src="{{ g.wpi_logo_url }}" height="32px">
          </ul>
        </div>
      </footer>
    {% endblock %}
  </main>
  </div>

  <style>
  /* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
  .mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
  }
  </style>
  {% if css_url %}
    <link href="{{ css_url }}" rel="stylesheet" type="text/css"/>
  {% endif %}
  <script type="text/javascript">
        window.setTimeout(function() {
        var l = document.getElementsByClassName("message_flash");
        if (l.length > 0) {
          l[0].style.display='none'
        }
    }, 5000);
  </script>
</body>
