<!doctype html>
<head>
{% block head %}
<title>{% block title %}Hello{% endblock %}</title>
{% endblock %}
</head>
<body>
{% block content %}
Hello!<br>
This is our database project!<br><br>
{% endblock %}

{% block footer %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<script type="text/javascript">
      window.setTimeout(function() {
      var l = document.getElementsByClassName("message_flash");
      if (l.length > 0) {
		    l[0].style.display='none'
      }
  }, 5000);
</script>
<br>
<br>
<div>
	<div style="display: inline-block;padding-left: 500px">
	{% if g.teamname %}
	  By {{ g.teamname }}<br>
	{% else %}
	{% endif %}
	Worcester Polytechnic Institute
	</div>
	<div  style="display: inline-block;position: relative;top:4;">
	&nbsp;&nbsp;<img src="{{ g.wpi_logo_url }}" height="32px">
	</div>
</div>
{% if css_url %}
<link href="{{ css_url }}" rel="stylesheet" type="text/css"/>
{% endif %}
{% endblock %}
</body>
