{% extends "loggedin.html" %}
{% block title %}View or edit Privileges{% endblock %}
{% block pagecontent %}


<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col">
    {% if settings %}
    {% for setting in settings %}
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--4-col">
            <h6>{{ setting[0] }}</h6>
            </div>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
            Users:
            {% for u in setting[1] %}
                {% if not loop.last %}
                        {{ u }},
                {% endif %}
                {% if loop.last %}
                        {{ u }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
            Roles:
            {% for u in setting[2] %}
                {% if not loop.last %}
                        {{ u }},
                {% endif %}
                {% if loop.last %}
                        {{ u }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
</div>
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col">
    {% if users %}
    {% for user in users %}
        <form action="/users" method="post">
        <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--2-col">{{ user[0] }}</div>
                <div class="mdl-cell mdl-cell--2-col">{{ user[1] }}</div>
                <div class="mdl-cell mdl-cell--2-col">
                {% set comma = joiner(",") %}
                {% for field in user[2] %}
                {% if not loop.last %}
                {{ field }},
                {% endif %}
                {% if loop.last %}
                {{ field }}
                {% endif %}
                {% endfor %}
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdl-button--accent button-small delete" type="button" name="delete" value="{{ user[0] }}">Delete
                    </button>
                </div>
        </div>
        </form>

    {% endfor %}
    {% endif %}
</div>
</div>
<br><br>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h6>Add or Delete User:</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form action="/users" method="post" class="update-form">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="name">privilege</label>
                <input class="mdl-textfield__input" type="text" name="user_name" id="name">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="pass">user</label>
                <input class="mdl-textfield__input" type="text" name="user_pass" id="pass">
            </div>
            <input type="hidden" name="add_user" value="">
            <div>
            <button  class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button" >Add</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button">Delete</button>
            </div>
        </form>
    </div>
</div>

<br><br>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h6>Add or Delete Role:</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form action="/users" method="post" class="update-form">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="rname">privilege</label>
                <input class="mdl-textfield__input" type="text" name="user_name" id="rname">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="rrole">role</label>
                <input class="mdl-textfield__input" type="text" name="user_role" id="rrole">
            </div>
            <div>
            <input type="hidden" name="add_role" value="">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button">Add</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button">Delete</button>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
.mdl-button{
    line-height: 20px;
    height: 20px;
}
</style>

<script type="text/javascript">
window.addEventListener("load", function () {
    // We need to access the form element
    var collections = document.getElementsByClassName("delete");
    [].forEach.call(collections, function (button) {
        button.addEventListener("click", function (event) {
            sendData({'delete' : button.getAttribute('value')}, function () {
                document.location.reload(true);
            });
      });
    });
    var forms = document.getElementsByClassName("update-form");
    [].forEach.call(forms, function (form) {
        var buttons = form.getElementsByTagName('button')
        buttons[0].addEventListener("click", function (event) {
            sendData($(form).serializeArray(), function () {
                document.location.reload(true);
            });
        });
        buttons[1].addEventListener("click", function (event) {
            var f = $(form).serializeArray();
            f.push({name: 'del', value: ''});
            sendData(f, function () {
                document.location.reload(true);
            });
        });
    
    });
});
</script>
{% endblock %}
