{% extends "loggedin.html" %}
{% block title %}View or edit users{% endblock %}
{% block pagecontent %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
    <h6>Users:</h6>
    </div>
</div>
<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">Name</div>
        <div class="mdl-cell mdl-cell--2-col">Password</div>
        <div class="mdl-cell mdl-cell--2-col">Role</div>
</div>
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col">
    {% if users %}
    {% for user in users %}
        <form action="/users" method="post">
        <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--2-col">{{ user[0] }}</div>
                <div class="mdl-cell mdl-cell--2-col">{{ user[1] }}</div>
                <div class="mdl-cell mdl-cell--2-col">
                {% set comma = joiner(",") %}
                {% for field in user[2] %}
                {% if not loop.last %}
                {{ field }},
                {% endif %}
                {% if loop.last %}
                {{ field }}
                {% endif %}
                {% endfor %}
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdl-button--accent button-small delete" type="button" name="delete" value="{{ user[0] }}">Delete
                    </button>
                </div>
        </div>
        </form>

    {% endfor %}
    {% endif %}
</div>
</div>
<br><br>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h6>Add or Update User:</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form action="/users" method="post" class="update-form">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="name">name</label>
                <input class="mdl-textfield__input" type="text" name="user_name" id="name">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="pass">pass</label>
                <input class="mdl-textfield__input" type="text" name="user_pass" id="pass">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="role">role</label>
                <input class="mdl-textfield__input" type="text" name="user_role" id="role">
            </div>
            <input type="hidden" name="add_user" value="">
            <div>
            <button  class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button" >Update</button>
            </div>
        </form>
    </div>
</div>

<br><br>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h6>Add or Delete Role to User:</h6>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form action="/users" method="post" class="update-form">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="rname">name</label>
                <input class="mdl-textfield__input" type="text" name="user_name" id="rname">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="rrole">role</label>
                <input class="mdl-textfield__input" type="text" name="user_role" id="rrole">
            </div>
            <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button">Add</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect update" type="button">Delete</button>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
.mdl-button{
    line-height: 20px;
    height: 20px;
}
</style>

<script type="text/javascript">
window.addEventListener("load", function () {
    // We need to access the form element
    var collections = document.getElementsByClassName("delete");
    [].forEach.call(collections, function (button) {
        button.addEventListener("click", function (event) {
            sendData({'delete' : button.getAttribute('value')}, function () {
                document.location.reload(true);
            });
      });
    });
    var forms = document.getElementsByClassName("update-form");
    forms[0].getElementsByTagName('button')[0].addEventListener("click", function (event) {
            sendData($(forms[0]).serializeArray(), function () {
                document.location.reload(true);
            });
    });
    forms[1].getElementsByTagName('button')[0].addEventListener("click", function (event) {
            var f = $(forms[1]).serializeArray()
            f.push({name: 'add_role', value: ''});
            sendData(f, function () {
                document.location.reload(true);
            });
    });
    forms[1].getElementsByTagName('button')[1].addEventListener("click", function (event) {
            var f = $(forms[1]).serializeArray()
            f.push({name: 'del_role', value: ''});
            sendData(f, function () {
                document.location.reload(true);
            });
    });
});
</script>
{% endblock %}
